{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/empregos_carreira/css/empregos-carreira.css' %}">
{% endblock head %}
{% block title %}Empregos e carreira{% endblock title %}
{% block content %}
<div class="container-fluid block-empregos">
  <div class="container container-titulo">
    <div class="title">
      <p>sobre</p>
      <hr class="bg-hr">
    </div>
  </div>
  <div class="container">
    <p id="sobre">
       Aqui, os egressos terão acesso a vagas disponíveis em empresas parceiras, permitindo que eles
      tenham uma visão atualizada e abrangente das oportunidades de emprego em sua área de atuação.
    </p>
    <p id="sobre">
      Além disso, o portal também oferece informações sobre o mercado de trabalho e tendências de carreira, auxiliando
      os egressos a se manterem atualizados e preparados para as mudanças constantes em suas áreas de atuação.
    </p>
    <p id="sobre">
      Através dessa funcionalidade, os egressos também poderão se conectar com outros profissionais, estabelecendo
      contatos importantes para suas carreiras. O portal de egressos é uma ferramenta fundamental para que os egressos
      do Instituto Federal Baiano possam continuar aprimorando suas habilidades e competências, e assim, se destacarem
      em suas áreas de atuação.
    </p>
    <p id="sobre">
      Em resumo, a funcionalidade de empregos e carreiras é uma das principais formas pelas quais o Instituto Federal
      Baiano apoia seus egressos, contribuindo para que eles tenham sucesso em suas carreiras e sejam agentes de
      transformação em suas comunidades e no mercado de trabalho.
    </p>
    <div class="d-flex justify-content-center">
      <a href="#" class="btn btn-primary">ALUNO/EGRESSO <br> <span>cadastre o seu curriculo</span></a>
      <a href="#" class="btn btn-primary">EMPRESA <br> <span>Inclua aqui sua vaga</span></a>
    </div>
  </div>
</div>
{% endblock content %}