{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/empregos_carreira/css/empregos-carreira.css' %}">
{% endblock head %}
{% block title %}Empregos e carreira{% endblock title %}
{% block content %}
<div class="container-fluid block-empregos">
  <div class="container container-titulo">
    <div class="title">
      <p>{{empregos_carrera.titulo}}</p>
      <hr class="bg-hr">
    </div>
  </div>
  <div class="container">
    <p class="sobre">
      {{empregos_carrera.texto}}
    </p>
    
    <div class="d-flex justify-content-center">
      <a href="#" class="btn ">ALUNO/EGRESSO <br> <span>cadastre o seu curriculo</span></a>
      <a href="#" class="btn " id="mobile">EMPRESA <br> <span>Inclua aqui sua vaga</span></a>
    </div>
  </div>
</div>
{% endblock content %}