@import url(../../general/css/root.css);

.container.title{
    text-align: center;
    max-width: 70%;
    margin-top: 0;
    background-color: var(--background-color);
    border-radius: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    
    height: 15vh;
}
.title_pesquisa{
    margin-bottom: 20px;
}
.form-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container form{
    background-color: var(--background-color);
    width: 70%;
    border-radius: 20px;
   
}
textarea {
    resize: none;
  }
  
.form-container form .row{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-primary{
    margin-bottom: 20px;
    background-color: var(--main-color);
    border: solid 2px var(--main-color);
}
.btn-primary:hover{
    background-color: var(--differential-color);
    border: solid 2px var(--differential-color);
    color: #fff;
    transition: 0.5s;
}
.horizontal-fields {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.horizontal-fields label {
    margin-right: 10px;
}

/* Remover o traço do primeiro elemento do RadioSelect */
input[type="radio"].django-forms-avaliacao_curso_choices:first-child,
input[type="radio"].django-forms-avaliacao_aprendizado_choices:first-child {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}

#id_sexo div, 
#id_estado_civil div,
#id_avaliacao_aprendizado div,
#id_avaliacao_curso div{
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
}

.django-ckeditor-widget{
    width: 100%;
}
.col-md-9 {
    display: flex;
    align-items: center;
  }


@media only screen and (max-width: 767px) {
    .form-container form{
        width: 100%;       
    }
    .container.title{
        max-width: 100%;  
    }
    #id_estado_civil div{
        display: flex;
    }
    
  }
  