@import url(../../general/css/root.css);

.form-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container form{
    background-color: var(--background-color);
    width: 70%;
    border-radius: 15px;
   
}
textarea {
    resize: none;
  }
  
.form-container form .row{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-primary{
    margin-bottom: 20px;
    background-color: var(--main-color);
    border: solid 2px var(--main-color);
}
.btn-primary:hover{
    background-color: var(--differential-color);
    border: solid 2px var(--differential-color);
    color: #fff;
    transition: 0.5s;
}