@import url(../../general/css/root.css);
/*filtro*/
.filtro{
  margin-bottom: 30px;
  height: 15vh;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
 
}
.filtro label{
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: var(--text-color);
  font-weight: bold;
}

.filtro select{
  display: inline-block;
  margin-right: 10px;
  color: var(--text-color);
}
.select{
  
  position: relative;
  width: 50%;
}
.button i{
  font-size: 20px;
  
}
.button{
  background-color: var(--main-color);
  border: solid 2px var(--main-color);
  
}
.button:hover{
  background-color: #fff;
  border: solid 2px var(--main-color);
  color: var(--main-color);
  transition: 0.5s;
}

/*Depoimentos*/