{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static '/general/css/general.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sua-integridade-aqui" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
  {% block head %}
  
  {% endblock head %}
  <title>{% block title %} {% endblock title %}</title>
</head>
<body>
 <div class="wrapper">
  <div class="content">
    {% include 'components/__Header.html' %}
    {% block content %}
 
    {% endblock content %}
    {% include 'components/__Footer.html' %}
  </div>
 </div>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 {% block scripts %}

 {% endblock scripts %}
</body>
</html>