{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static '/general/css/general.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sua-integridade-aqui" crossorigin="anonymous">
  {% block head %}
  
  {% endblock head %}
  <title>{% block title %} {% endblock title %}</title>
</head>
<body>
 <div class="wrapper">
  <div class="content">
    {% include 'components/__Header.html' %}
    {% block content %}
 
    {% endblock content %}
    {% include 'components/__Footer.html' %}
  </div>
 </div>
</body>
</html>