{% load static %}
<div id="apresentacao">
  <div class="container container-titulo">
    <div class="title">
      <p >APRESENTAÇÃO</p>
      <hr class="bg-hr">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
       <img src="{% static 'img/marca-if-baiano-bom-jesus-da-lapa.svg' %}" alt="">
      </div>
      <div class="col">
        <p class="text">ESTE ESPAÇO É ESPECIALMENTE DEDICADO AOS ALUNOS FORMADOS PELO Instituto Federal Baiano.</p>
      </div>
      <div class="col">
        <p class="text-regular">
          Nosso maior orgulho é ver a realização profissional de cada um
          que passa por aqui. O sucesso no mercado de trabalho e na vida
          pessoal dos nossos egressos é, também, o nosso sucesso! 
          Por isso, queremos permanecer ao seu lado, oferecendo o apoio que você necessita para continuar a crescer e ir cada dia mais longe em sua carreira. <br>
          O Programa de Acompanhamento de EGRESSOS é um espaço de comunicação entre nós. Queremos ouvir você e saber como anda sua vida profissional.
        </p>
      </div>
    </div>
  </div>
</div>