{% load static %}
<div id="apresentacao">
  <div class="container container-titulo">
    <div class="title">
      <p >{{apresentacao.titulo}}</p>
      <hr class="bg-hr">
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      <div class="col left">
       
        <p class="text">{{apresentacao.texto_esquerdo}}</p>
        <hr class="bg-hr">
        <img src="{% static 'img/marca-if-baiano-bom-jesus-da-lapa.svg' %}" alt="">
      </div>
      <div class="col right">
        <p class="text-regular">
         {{apresentacao.texto_direita}}
        </p>
      </div>
    </div>
  </div>
</div>