{% load static %}
{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show ">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}
<div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
     {% if slaider %}
     {% for img in slaider %}
     <div class="carousel-item {% if forloop.first %} active {% endif %}">
       <img src="{{img}}" class="d-block w-100" alt="Slide {{ forloop.counter }}">
       <div class="carousel-caption d-none d-md-block">
         <h5></h5>
         <p></p>
       </div>
     </div>
   {% endfor %}
   {% else %}
   <div class="carousel-item  active">
    <img src="{% static 'img/indisponivel.webp' %}" class="d-block w-100" alt="Indisponível">
    <div class="carousel-caption d-none d-md-block">
     {% endif %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>

</div>