{% load static %}

<footer>
  <div class="container-flui footer">
    <div class="container" main>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div>
            <img class="logo" src="{% static 'img/marca-if-baiano-bom-jesus-da-lapa.svg' %}" alt="">
            <p class="mb-30 footer-desc">Instituto Federal de Educação, Ciência e Tecnologia Baiano</p>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
          <div class="">
            <h4>Links Importantes</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-decoration-none">1</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">2</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">3</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">4</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Serviços</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-decoration-none">1</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">2</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">3</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">4</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Endereço</h4>
            <ul class="list-unstyled">
              <li>
                <p>Instituto Federal de Educação, Ciência e Tecnologia Baiano – Campus Bom Jesus da Lapa
                  BR 349, Km 14 - Zona Rural, Bom Jesus da Lapa - Bahia, CEP: 47600-000</p>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
  
        <div class="copyright">
          <p>copyright GTI IFBaino 2023 <a href="#" target="_blank"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>