{% load static %}

<footer>
  <div class="container-flui footer">
    <div class="container" main>
    
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div>
            <img class="logo" src="{% static 'img/Logotipo_mobile.svg' %}" alt="">
            <p class="mb-30 footer-desc">Instituto Federal de Educação, Ciência e Tecnologia Baiano</p>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
          <div class="">
            <h4>Links Importantes</h4>
            <ul class="list-unstyled">
              {% for link in links %}
              <li>
                <a href="{{link.links_importantes}}" target="_blank"class="text-decoration-none">{{link.nome_link}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Serviços</h4>
            <ul class="list-unstyled">
              {% for servico in servicos %}
                <li>
                  <a href="{{servico.link_servico}}"target="_blank" class="text-decoration-none">{{servico.servicos}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Endereço</h4>
            <ul class="list-unstyled">
              <li>
                <p>
                  {{endereco.endereco}}
                </p>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="copyright">
          <p>copyright GTI IFBaino 2023 <a href="#" target="_blank"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>