{% load static %}
<div class="container pesquisa">
  <div class="row">
    <div class="col left">
      <h2>PESQUISA EGRESSO</h2>
      <p>Caro(a),</p>
      <p>Gostaríamos de convidá-lo (a) a participar das nossas pesquisas realizadas pelo departamento de Acompanhamento
        de Egressos do Instituto Federal Baiano. Essas pesquisas são desenvolvidas pela Comissão Própria de Avaliação
        (CPA), área responsável pelas pesquisas institucionais da nossa instituição.
      </p>
      <p>
        O Instituto Federal Baiano tem como uma das suas prioridades a busca constante pela qualificação de seus cursos
        e programas, tendo em vista aprimorar o relacionamento com os alunos egressos.
      </p>
      <p>
        As pesquisas têm como objetivo acompanhar a trajetória profissional dos egressos, bem como recolher suas
        percepções sobre a formação acadêmica e profissional que receberam.
      </p>
      <p>
        A sua participação é muito importante, pois contribuirá para avaliarmos e aprimorarmos ainda mais nossos cursos.
      </p>
    </div>
    <div class="col right">
      <hr class="bg-hr">
      <h3>QUEM PODE RESPONDER A PESQUISA:</h3>
      <span>Todos os ex-alunos dos cursos de Graduação e Técnicos integrado e Subsequente que efetivamente concluíram o
        curso perante o Instituto federal Baino</span><br><br>
      <p>É crucial ter acesso a essas informações para identificar elementos relevantes que contribuam para o
        aperfeiçoamento da formação e para alcançar os objetivos de cada curso.</p>
      <p> Esperamos contar com suas contribuições para garantir que o processo de avaliação cumpra seus propósitos.</p>
    </div>
  </div>
</div>