<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bem vindo ao portal de Egressos IFBaino</title>
	<style type="text/css">
		body {
			background-color: #00510F;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5;
			color: #ffffff;
			margin: 0;
			padding: 0;
		}
		h1 {
			color: #cd191e;
			font-size: 32px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		p {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		a {
			color: #ffffff;
		}
	</style>
</head>
<body>
	<h1>Bem vindo {{novo_contato.nome}} ao portal de Egressos IFBaiano</h1>
	<p>Olá {{novo_contato.nome}},</p>
	<p>Seja bem vindo ao portal de Egressos IFBaino. É uma satisfação tê-lo conosco!</p>
	<p>A partir de agora, você irá receber as nossas atualizações de conteúdo em primeira mão.</p>
	<p>Caso tenha alguma dúvida ou sugestão, não hesite em entrar em contato conosco através do email <a href="mailto:contato@ifbaiano.com.br">contato@ifbaiano.com.br</a>.</p>
	<p>Atenciosamente,<br>Equipe de Egressos IFBaiano</p>
</body>
</html>
